$body-color:         #535353;
$title:              #494949;
$text-over:          #fff;
$orange:             #eb5b18;
$blue-pale:          #7fcce5;
$blue-darker:        #166e8b;
$link:               #464646;
$link-hover:         #eb5b18;
$link-active:        #eb5d18;
